<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
	<meta charset="UTF-8">
	<title>Products</title>
</head>
<!--Temporary web page to users once they finished registering or logging in-->
<body>
	<div layout:fragment="content">
	<!-- <p>Test</p> -->
	<table style="width:50%">
		<thead>
			<tr>
				<th style="text-align:center">Product ID</th>
				<th style="text-align:center">Product Name</th>
				<th style="text-align:center">Product Price</th>
				<th style="text-align:center">Product Description</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${products.empty}">
				<td style="text-align:center">No Product Available</td>
			</tr>
			<tr th:each="product : ${products}">
				<th style="text-align:center"><h5 th:text="${product.id}">0000000001</h5></th>
				<th style="text-align:center"><h5 th:text="${product.name}">Product 1</h5></th>
				<th style="text-align:center"><h5 th:text="${product.price}">1</h5></th>
				<th style="text-align:center"><h5 th:text="${product.description}">Product Description</h5></th>
				<th style="text-align:center"><a th:href="@{/product/readoneProduct/{id}(id=${product.id})}">View Product</a></th>
				
				<!--
				<th style="text-align:center">
					<form action="#" th:action="@{/product/doDeleteProduct/{id}(id=${product.id})}" th:object="${product}" method="post">
					<input type="submit" value="Delete Product" />
					</form>
				</th>
				-->
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>